/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}

/* universals */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    border: 1px solid grey;
 }


/* general styles */

html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    line-height: 1.5;
    color: peachpuff;
    height: auto;
}

html, body {
    height: 100%;
}
h1{
    font-size: 10rem;
    font-family: "UnifrakturMaguntia", cursive;
    text-align: center;
}
h2{
    font-size: 7rem;
    font-family: 'Qwigley', cursive;
    text-align: center;
}
p{
    font-size: 2rem;
    font-family: 'Qwigley', cursive;
}
/* navigations A's */
header{
    background-color: mediumseagreen;
}
nav{
    display: flex;
    margin: 1% 0;
    justify-content: center;
    align-content: space-around;
}
a {
    display: flex;
    flex-direction: row;
    padding: 1% 5%;    
    background-color: grey; 
    color: whitesmoke;  
    justify-content: center;
    border: 1px solid black;
    text-decoration: none;
    font-family: monospace;
    height: 20%;
    width: 10%;
}
a:hover{
    background-color: mediumseagreen;
    color: midnightblue;
}


/* top section */
.top{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 40%;
}
.intro{
    height:auto;
    width:auto;
}
.bottom{
    background-color: cadetblue;
}
#projects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 40vw;
}
.container{
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.sml_img{
    display: flex;
    justify-content: center;
    flex-wrap : wrap; /* wording of project */
    margin: 1%;
    background-image: url('../images/IMG_0463.JPG');
    background-position: center;
    height: 50vh;
    width: 15vw;
 }
 .sml_img:hover{
    color:crimson;
}

.paragraph{
    display: flex;
    align-self: flex-end;
    height: 50vh;
    width: 20vw;
}


/* footer section styles  */
footer{
    background-color: rgb(161, 137, 161, 0.5);
    z-index: 999;
    position: fixed;
    bottom: 0;
}
#contact {
    margin-bottom: 0;
    display:flex;
    align-items: center;
    justify-content: center;
}


.bgimg{
    display: flex;
    flex-direction: column;
    background-image: url('../images/IMG_2668.JPG');
    background-size: cover;
    background-repeat: repeat;
    height: 85vh;
    width:100vw;
}
.b_foot nav[
    width: 50%;
]