/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
/* 	border: 0;
 */	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* body {
	line-height: 1; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* universals */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    border: 1px solid grey;
}
section{
    padding: 5% 0;
}

/* general styles */
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    line-height: 1.5;
    color: peachpuff;
}
h1{
    font-size: 10rem;
    font-family: "UnifrakturMaguntia", cursive;
}
h2{
    font-size: 7rem;
    font-family: 'Qwigley', cursive;
}
p{
    font-size: 2rem;
    font-family: 'Qwigley', cursive;
}

/* top section */
.top{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 40%;
}



/* navigations adn A's */
nav{
    display: flex;
    margin: 1% 0;
    justify-content: center;
}
a {
    display: flex;
    flex-direction: row;
    padding: 1% 5%;    
    background-color: grey; 
    color:black;  
    justify-content: center;
    border: 1px solid black;
    
    
}
a:hover{
    background-color: mediumseagreen;
    color: midnightblue;
}

/* background image */
.bgimg{
    height: 120vh;
    background-image: url('../images/IMG_2668.JPG');
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #cccccc;
    background-size: 100%;
    margin-top: 0;
}

header{
    background-color: mediumseagreen;
}

/* footer floating area */
footer{
    background-color: rgb(161, 137, 161, 0.5);
    margin-bottom: 0;
    display:flex;
    z-index: 999;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: center;
}
#contact {
    width: 50%;
    height: auto;
}
.intro{
    height:auto;
    width:auto;
}

.bottom{
    display:flex;
    margin: 50% 0;
    margin-left: 0;
    width: 100%;
    /*margin-top: 50%;*/
    padding-bottom: 12%; 
    background-color: mediumseagreen;
}

.pics{
    display: flex;
    justify-content: flex-start;
    padding: 1%;
    

/*     align-content: space-between;
 */    width: 60%;

}
.sml_img{
    background-image: url('../images/IMG_0463.JPG');
    background-position: center;

    height: 50vh;
    width: 100vw;
 }
.paragraph{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 20vw;
    height: 50vh;

}
.paragraph p{
    display: flex;
    align-items: flex-end;
   

/*     display: flex;
    align-items:center;
    justify-content: flex-end; */

    margin-left: auto;
    margin-right: 2%;
}